ANCHOR_PROVIDER_URL="https://api.devnet.solana.com"
ANCHOR_WALLET="<your local testing wallet path>"

# FIREBLOCKS_API_KEY="cacad368-e563-486e-a735-543d7292408b"
# FIREBLOCKS_SECRET_KEY_PATH="./FB_CONFIG/secret.key"
# MINTER_VAULT_ACCOUNT_ID=0




FIREBLOCKS_API_KEY=""
FIREBLOCKS_SECRET_KEY_PATH="<PATH TO RSA API PRIVATE KEY>"
MINTER_VAULT_ACCOUNT_ID=<VAULT ACCOUNT ID: number>