ANCHOR_PROVIDER_URL="https://api.devnet.solana.com"
ANCHOR_WALLET="<your local testing wallet path>"

FIREBLOCKS_API_KEY=""
FIREBLOCKS_SECRET_KEY_PATH="<PATH TO RSA API PRIVATE KEY>"
MINTER_VAULT_ACCOUNT_ID=<VAULT ACCOUNT ID: number>
